<html ng-app="myModule" >
    <head><script src="Script\angular.min.js"></script>
    <script src="Script\script.js"></script>
    </head>

    <body ng-controller="myController" >
        <div  >
           <!-- {{  {name: 'Devo', age: '23'}.name }}-->
           <!--{{ ['Pk','Varun','Raja'][2]}}-->
         <table>
             <tr>
                 <td>
                  First Name :
                 </td>
                 
                 <td>
                 <input type="text" ng-model="emp.firstName"   
                 </td>
             </tr>
               <tr>
                 <td>
                  Last Name :
                 </td>
                 
                 <td>
                 <input type="text" ng-model="emp.lastName"   
                 </td>
             </tr>
               <tr>
                 <td>
                  Gender :
                 </td>
                 
                 <td>
                 <input type="text" ng-model="emp.gender"   
                 </td>
             </tr>
         </table>

          <table>
             <tr>
                 <td>
                  First Name :
                 </td>
                 
                 <td>
                {{emp.firstName}}  
                 </td>
             </tr>
               <tr>
                 <td>
                  Last Name :
                 </td>
                 
                 <td>
                 {{emp.lastName}}  
                 </td>
             </tr>
               <tr>
                 <td>
                  Gender :
                 </td>
                 
                 <td>
                 {{emp.gender}}   
                 </td>
             </tr>
         </table>
                    
        </div>
        </body>
</html>