<html ng-app="myModule" >
    <head><script src="Script\angular.min.js"></script>
    <script src="Script\nesting-repeat.js"></script>
    </head>

    <body ng-controller="myController" >

<div ng-controller="myController" >

    <ul>
        <li ng-repeat="country in country" ng-init="parentIndex=$index">
           <b>Country Name: {{country.name}}</b> , index={{parentIndex}}
            <ul>
                <li ng-repeat="city in country.city">
                  <b>  City Name:{{city.name}}</b> , Parent Index={{parentIndex}},index={{$index}}
                </li>
            </ul>
        </li>
    </ul>

</div>

    </body>
</html>